
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Colchones Briones</title>
    </head>
    <body style="background-color: #cecece;">
        <header th:replace="layout/plantilla :: header"/>
        <div class="container">
        <br/>
        <br/>
        <br/>
      <h2>Contacto</h2>
      <br/>
      <br/>
      <br/>
      
      <div class="row">
        <div class="col-xl-8">
          <h3>Contáctenos sera un placer ayudarle</h3>
          
          <p><strong>Dirección:</strong> Estamos ubicados diagonal al gimnasio municipal de Desamparados</p>
          <p><strong>Teléfono:</strong> +506 8571-2788</p>
          <p><strong>Email:</strong> jlpez@gmail.com</p>
        </div>
        <div class="col-xl-4">
          <h3>Horario de atención</h3>
          <p>Lunes a Viernes de 7am a 5pm</p>
          
        </div>
          
          <img src="/recursos/camalogin2.jpg" alt="alt"/>
      </div>
      <br/>
      <br/>
    </div>
        <br/>
        <br/>
        <br/>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
