<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Colchones Briones</title>

    </head>
    <header th:replace="layout/plantilla :: header" />


    <div class="container">
        <section th:replace="cliente/fragmentosCliente :: editarCliente" sec:authorize="hasRole('ROLE_ADMIN')"/>

    </div>
    <br/>
    <br/>
    <br/>
    <footer th:replace="layout/plantilla :: footer" />

</html>

