.contact-form {
    width: 50%;
    margin: 0 auto;
    color:#fff;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 16px;
    resize: vertical;

}

.contact-form input[type="submit"] {
    background-color: cadetblue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.contact-form input[type="submit"]:hover {
    background-color: turquoise;
}
.contact-form label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 6px;
    display: block;
    color:#fff;
}
.contact-info {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    color:#fff;
    background-color: rgba(65, 63, 66,0.7);
    border-radius: 10px
}

.contact-info h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 12px;
}

.contact-info p {
    font-size: 18px;
    margin-bottom: 6px;
}

.contact-info a {
    color: #4CAF50;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}
*{
    font-family: Helvetica;
}

#header{
    
    display: block;
    top: 0;
    left: 0;
    width:100%;
    position: fixed;
}
/*NAVBAR*/

#navbar{
    
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    background-color:#155c65;
    height: 12%;
}
.nav-menu{
    list-style: none;
    display: flex;
    margin-right: 40px;
}
.nav-menu-link{
    padding: 4px 8px;
    border-radius: 10px;
}
.nav-menu-item{
    font-size: 18px;
    margin: 0 40px;
    line-height: 90px;
    width: max-content;
    text-decoration: none;
    color: white;
}

#logo{
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
}
.nav-menu-link:hover{
    background-color: #9ae3ff;
    transition: 0.7s;
    font-size: 22px;
}
.cart{
    text-align: center;
    text-decoration: none;
    padding-top: 50px;
    padding-right: 40px;
}