body{
background-color: black !important;

}

#info1 {
    
    margin-top: 2%;
}

#info1 .col{
    padding: 2%;
  
}
#info2 {
    margin-top: 1.7%;
}

#info2 .col {
     padding: 2%;
   
}

/*NAVBAR*/

*{
    font-family: Helvetica;
}

#header{
    
    display: block;
    top: 0;
    left: 0;
    width:100%;
    position: fixed;
}
/*NAVBAR*/


.regresar{
    
    
    background-color: white;
    border-radius: 15px;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    
}
/*NAVBAR*/

