header{
    background-color: #0071ac;
    
}
body{
    background-color: white;
}
.slide{
    margin-top: 0;
    
    background-color: white;
    
}
.slide img{
    height: 45%;
    
    background-color: white;
}
.nosotros{
    text-align: justify;
    
    background-color: white;
}
.container{
    background-color: white;
    color: black;
}
.row{
    background-color: white;
}

.agendar{
    text-align: justify;
    background-color: white;
}